<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.FriendapplyinfoMapper" >
  <resultMap id="BaseResultMap" type="pojo.Friendapplyinfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="fromUser" property="fromuser" jdbcType="VARCHAR" />
    <result column="applyStatus" property="applystatus" jdbcType="INTEGER" />
    <result column="toUser" property="touser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, fromUser, applyStatus, toUser
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="pojo.FriendapplyinfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from friendapplyinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from friendapplyinfo
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from friendapplyinfo
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="pojo.FriendapplyinfoExample" >
    delete from friendapplyinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pojo.Friendapplyinfo" >
    insert into friendapplyinfo (id, fromUser, applyStatus, 
      toUser)
    values (#{id,jdbcType=VARCHAR}, #{fromuser,jdbcType=VARCHAR}, #{applystatus,jdbcType=INTEGER}, 
      #{touser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="pojo.Friendapplyinfo" >
    insert into friendapplyinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fromuser != null" >
        fromUser,
      </if>
      <if test="applystatus != null" >
        applyStatus,
      </if>
      <if test="touser != null" >
        toUser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="fromuser != null" >
        #{fromuser,jdbcType=VARCHAR},
      </if>
      <if test="applystatus != null" >
        #{applystatus,jdbcType=INTEGER},
      </if>
      <if test="touser != null" >
        #{touser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pojo.FriendapplyinfoExample" resultType="java.lang.Integer" >
    select count(*) from friendapplyinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update friendapplyinfo
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.fromuser != null" >
        fromUser = #{record.fromuser,jdbcType=VARCHAR},
      </if>
      <if test="record.applystatus != null" >
        applyStatus = #{record.applystatus,jdbcType=INTEGER},
      </if>
      <if test="record.touser != null" >
        toUser = #{record.touser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update friendapplyinfo
    set id = #{record.id,jdbcType=VARCHAR},
      fromUser = #{record.fromuser,jdbcType=VARCHAR},
      applyStatus = #{record.applystatus,jdbcType=INTEGER},
      toUser = #{record.touser,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.Friendapplyinfo" >
    update friendapplyinfo
    <set >
      <if test="fromuser != null" >
        fromUser = #{fromuser,jdbcType=VARCHAR},
      </if>
      <if test="applystatus != null" >
        applyStatus = #{applystatus,jdbcType=INTEGER},
      </if>
      <if test="touser != null" >
        toUser = #{touser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.Friendapplyinfo" >
    update friendapplyinfo
    set fromUser = #{fromuser,jdbcType=VARCHAR},
      applyStatus = #{applystatus,jdbcType=INTEGER},
      toUser = #{touser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>