<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.UserluckydrawitemrecordMapper" >
  <resultMap id="BaseResultMap" type="pojo.Userluckydrawitemrecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="luckyDrawId" property="luckydrawid" jdbcType="INTEGER" />
    <result column="itemId" property="itemid" jdbcType="INTEGER" />
    <result column="alreadyCount" property="alreadycount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, luckyDrawId, itemId, alreadyCount
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="pojo.UserluckydrawitemrecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from userluckydrawitemrecord
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from userluckydrawitemrecord
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from userluckydrawitemrecord
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="pojo.UserluckydrawitemrecordExample" >
    delete from userluckydrawitemrecord
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pojo.Userluckydrawitemrecord" >
    insert into userluckydrawitemrecord (id, luckyDrawId, itemId, 
      alreadyCount)
    values (#{id,jdbcType=INTEGER}, #{luckydrawid,jdbcType=INTEGER}, #{itemid,jdbcType=INTEGER}, 
      #{alreadycount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="pojo.Userluckydrawitemrecord" >
    insert into userluckydrawitemrecord
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="luckydrawid != null" >
        luckyDrawId,
      </if>
      <if test="itemid != null" >
        itemId,
      </if>
      <if test="alreadycount != null" >
        alreadyCount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="luckydrawid != null" >
        #{luckydrawid,jdbcType=INTEGER},
      </if>
      <if test="itemid != null" >
        #{itemid,jdbcType=INTEGER},
      </if>
      <if test="alreadycount != null" >
        #{alreadycount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pojo.UserluckydrawitemrecordExample" resultType="java.lang.Integer" >
    select count(*) from userluckydrawitemrecord
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update userluckydrawitemrecord
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.luckydrawid != null" >
        luckyDrawId = #{record.luckydrawid,jdbcType=INTEGER},
      </if>
      <if test="record.itemid != null" >
        itemId = #{record.itemid,jdbcType=INTEGER},
      </if>
      <if test="record.alreadycount != null" >
        alreadyCount = #{record.alreadycount,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update userluckydrawitemrecord
    set id = #{record.id,jdbcType=INTEGER},
      luckyDrawId = #{record.luckydrawid,jdbcType=INTEGER},
      itemId = #{record.itemid,jdbcType=INTEGER},
      alreadyCount = #{record.alreadycount,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.Userluckydrawitemrecord" >
    update userluckydrawitemrecord
    <set >
      <if test="luckydrawid != null" >
        luckyDrawId = #{luckydrawid,jdbcType=INTEGER},
      </if>
      <if test="itemid != null" >
        itemId = #{itemid,jdbcType=INTEGER},
      </if>
      <if test="alreadycount != null" >
        alreadyCount = #{alreadycount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.Userluckydrawitemrecord" >
    update userluckydrawitemrecord
    set luckyDrawId = #{luckydrawid,jdbcType=INTEGER},
      itemId = #{itemid,jdbcType=INTEGER},
      alreadyCount = #{alreadycount,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>